.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

label {
  display: flex;
  flex-direction: row;
  width: 90px;
  margin-right: 4px;
  line-height: 26px;
}

input {
  width: 200px;
  flex: 0 0 200px;
  height: 20px;
}
  